<form action="/images/upload" method="post" enctype="multipart/form-data">
  <label for="image-upload">Choose an image to upload:</label>
  <input type="file" id="image-upload" name="image" accept="image/jpg">
  <div>
    <button type="submit">Upload Image</button>
  </div>
</form>
